---
import '~/styles/global.css';
import { routes } from '~/routes';
import Layout from "~/layouts/Layout.astro";

import logoImg from '~/assets/logo.svg';
import arrowRightImg from '~/assets/icons/arrow.right.svg';
import monkeyImg from '~/assets/monkey/packaging/Monkey with packaging.jpg';
---

<Layout title="Wavy Industries: Purchase complete">
  <section>
    <div class="banner"><img src={logoImg.src} /></div>
    <div class="content">
      <h2>Purchase complete!</h2>
      <p>Thank you for purchasing Wavy MON<b>KEY</b><br />You will receive an email with the receipt.</p>
      <p id="order-id"></p>
      <img width="100%" src={monkeyImg.src} alt="Monkey with packaging" />
    </div>
    <a href={routes.home} class="back-link"><img height="10px" src={arrowRightImg.src} alt="arrow right" /> Back to website</a>
  </section>
</Layout>

<style>  
section {
  margin: 75px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  
.banner {
  background-color: #d5d5d5;
  padding: 20px;
}

.content {
  background-color: #F5F5F5;
  padding: 20px;
}

#payment-id {
  display: block;
  word-wrap: break-word;
}

.back-link {
  width: 100%;
  font-weight: 300;
  text-decoration: underline;
  text-align: center;
}
.back-link img {
  filter: invert(100%);
  transform: rotate(180deg);
}

.chechout-button:hover {
  background-color: #4378ff;
  cursor: pointer;
}
</style>

<script>
  const apiUrl = import.meta.env.MODE === 'development'
    ? 'http://localhost:8000'
    : 'https://server.wavyindustries.com';
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const sessionId = urlParams.get('session_id');
  
  if (sessionId) {
    fetch(`${apiUrl}/api/order/orderIdFromSessionId/${sessionId}`)
      .then(response => response.json())
      .then(data => {
        if (data.order_id) {

          if (data.order_id != null) {
            const orderIFElem = document.getElementById('order-id')
            orderIFElem.innerHTML = `Your order ID is <b><u>${data.order_id}</u></b>.`;
          }

        } else {
          console.error('Order not found');
        }
      })
      .catch(error => console.error('Error fetching order ID:', error));
  }
  </script>