---
import '~/styles/global.css';
import {routes} from '~/routes';
import Layout from '~/layouts/Layout.astro';
import Header from '~/layouts/Header.astro';
import Footer from '~/layouts/Footer.astro';
import LinkButton from '~/components/LinkButton.astro';
import TagContainer from '~/components/TagContainer.astro';
import Tag from '~/components/Tag.astro';

import monkeyRevealVideo from '~/assets/monkey/monkey_front_reveal_LED_compressed.mp4';
import monkeyRevealPlaceholder from '~/assets/monkey/monkey_reveal_placeholder.png';
import monkeyPackagingImg from '~/assets/monkey/packaging/Monkey with packaging.jpg';
// import monkeyPackagingImg from '~/assets/monkey/packaging/Monkey with packaging_5.jpg';

import steinbergProfile from '~/assets/monkey/profiles/floyd_steinberg.jpg';
import haqProfile from '~/assets/monkey/profiles/jakob_haq.jpg';
import sonicstateProfile from '~/assets/monkey/profiles/sonicstate.jpg';
import TopBannerAlert from '~/components/TopBannerAlert.astro';
---

<Layout title="Wavy Industries: MONKEY" description='Discover MONKEY by Wavy Industries, the ultimate Bluetooth MIDI companion for musicians and producers. Compact, versatile, and designed for seamless music creation.'>
	<meta slot="meta" property="og:title" content="WAVY MONKEY, An ultra-portable wireless music making device">
	<meta slot="meta" property="og:description" content="Compact, versatile Bluetooth MIDI keyboard designed for musicians, producers, and anyone eager to start exploring music creation. Perfect for causual music creation wherever you are!">
	<meta slot="meta" property="og:image" content="https://wavyindustries.com/monkey_reveal.png">
	<main>
		<TopBannerAlert>
			🎅🏻 Order now to ensure it arrives before Christmas🎅🏻
		</TopBannerAlert>
		<Header textColor='white' />
		<section class="text-white">
			<h1>MON<span style="font-weight: 400;" >KEY</span></h1>
			<TagContainer>
				<Tag href={routes.monkeyGettingStarted}>Getting started</Tag>
				<Tag href={routes.monkeyManual}>Manual</Tag>
			</TagContainer>
			<div class="sub-title-block" >
				<p class="catch-phrase">An ultra-portable wireless music making device</p>
				<LinkButton href={routes.monkeyPurchase} type="highlight" >Buy now €59</LinkButton>
			</div>

			<video id="monkey-reveal-video" width="100%" autoplay muted playsinline onended="this.pause()" poster={monkeyRevealPlaceholder.src}>
				<source src={monkeyRevealVideo} type="video/mp4">
				Your browser does not support the video tag. <img src={monkeyRevealPlaceholder.src} alt="Monkey reveal placeholder">
			</video>
			<p>MON<b>KEY</b> is a two octave Bluetooth MIDI keyboard which literaly fits in your pocket. Bluetooth in MIDI keybaords is nothing new. But ultra long battery life of several months is. This is what enables Bluetooth to actually be practical to use, together with low latency communication.</p>
			<p>Through the SHIFT key on MON<b>KEY</b> you get access to all the features written under and above the keys. Monkey has 6 MIDI effects, each with 10 presets. Furthermore it includes a loop recorder for you to record your ideas with up to 10 instruments! </p>
			<p>
				<h3>Highlights</h3>
				<ul>
					<li><u>Several months</u> of battery life. Replaceable CR2032 battery</li>
					<li>Two octave keybed with low operating force</li>
					<li>6 MIDI effects each with 10 presets</li>
					<li>Loop recorder with up to 10 instruments simultaneously</li>
					<li>Pressure sensitive touch surface for modulation</li>
					<li>Low latency Bluetooth MIDI</li>
					<li>Ultra compact form factor of 150mm x 50mm</li>
					<li>Compatible with many configurations, including macOS, iOS/iPadOS, Android, Windows, CME WIDI and more</li>
				</ul>
			</p>
			<p>
				<h3>What users have to say</h3>
				<blockquote><span class="profile-ref"><img src={steinbergProfile.src} alt="Floyd Steinberg profile"><span><b>Floyd Steinberg</b> - <i>"I can full heartedly recommend this. It’s the most fun I have had in a very long time with a new piece of gear." <sup><a href="#footnote-floyd-steinberg">[1]</a></sup></i></span></span></blockquote>
				<blockquote><span class="profile-ref"><img src={haqProfile.src} alt="Jakob Haq profile" /><span><b>Jakob Haq</b> - <i>"I’ve been using the Monkey for many hours every day since I got it delivered. The biggest user case has been “on the run” when working on presets/patches." <sup><a href="#footnote-jakob-haq">[2]</a></sup></i></span></span></blockquote>
			</p>
			<p>
				<h3>Accolades</h3>
				<blockquote><span class="profile-ref"><img src={sonicstateProfile.src} alt="Sonicstate profile" /><span>Wavy Industries' Monkey was awarded with Sonicstate's Superbooth 2024 "Value for Money" award during its product debut.<sup><a href="#footnote-sonicstate-award">[3]</a></sup></span></span></blockquote>
			</p>
			<p>
				<h3>Additional resources</h3>
				<ul>
					<li>Sonicstate Superbooth 2024: <a target="_blank" href="https://www.youtube.com/watch?v=HYZFWqDJWl8">https://www.youtube.com/watch?v=HYZFWqDJWl8</a></li>
					<li>Demo usage together with Mobile/Tablet app N-track for Mobile: <a target="_blank" href="https://www.youtube.com/watch?v=dwjfR09K39M">https://www.youtube.com/watch?v=dwjfR09K39M</a></li>
				</ul>
			</p>
			<br />
			<br />
		</section>
		<img src={monkeyPackagingImg.src} alt="Monkey with packaging" />
		<section class="footnotes">
			<p id="footnote-floyd-steinberg">[1] Mentioned on his YouTube channel <i>Floyd Steinberg</i> in video titeled <a target="_blank" href="https://youtu.be/V6iA643FbLM?si=EDgtCntUDnTKQBLL&t=657">"The Wavy Industries Monkey is the tiniest MIDI master keyboard"</a> at 10:57, published Apr 28, 2024</p>
			<p id="footnote-jakob-haq">[2] Written in <a href={routes['wavy-discord']}>Wavy discord</a> in channel "General" at 06/17/2024 7:15 PM</p>
			<p id="footnote-sonicstate-award">[3] Receiving the award: <a href="https://youtu.be/m3RDgtmtsr4?si=1xh5rUM6on2upPp6&t=423">https://youtu.be/m3RDgtmtsr4?si=1xh5rUM6on2upPp6&t=423</a></p>
			<p>★ Thanks to Glenn Frey for doing the 3D renderings on this page</p>
		</section>
		<Footer />
	</main>
</Layout>

<style>

main {
	background-color: black;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

img {
	width: 100%;
}

#monkey-reveal-video {
	padding: 120px 0;
}

.text-white {
	color: #f0f0f0;
}

section {
	width: 100%;
	padding: 0 20px;
}

h1 {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

p {
	max-width: 800px;
}

.sub-title-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}

.catch-phrase {
	font-size: 20px;
	font-weight: 300;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.footnotes {
	font-size: 12px;
	background-color: darkgray;
}

.profile-ref {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}
.profile-ref img {
	width: 30px;
	border-radius: 50%;
}
</style>
