---
interface Props {
	textColor?: 'black' | 'white';
}

const { textColor = 'black' } = Astro.props;

import { routes } from '../routes';
import '../styles/global.css';

const currentPage = new URL(Astro.request.url).pathname.replace(/\/$/, '').replace(/\.html$/, "");

function currentPageCheck(link) {
    // Create a regex to match the link path as a prefix, ensuring that it matches full directory segments
    const regex = new RegExp(`^${link}(/|$)`);

    // Check if the current page starts with the link path using the regex
    return regex.test(currentPage) ? "active-link" : "";
}
---
<header class={textColor == 'white' ? 'text-white' : 'text-black'}>
    <div class="logo">
        <a href={routes.home}><img src=`/assets/${textColor == 'white' ? 'logo-white.svg' : 'logo.svg'}` /></a>
    </div>

    <nav>

        <div>
            <h3>Products</h3>
            <ul>
                <li class={currentPageCheck(routes.monkey)}><a href={routes.monkey}>MONKEY</a></li>
                <li class={currentPageCheck(routes.kd3)}><a href={routes.kd3}>KD-3</a></li>
                <li class={currentPageCheck(routes.midiConnect)}><a href={routes.midiConnect}>MIDI connect</a></li>
            </ul>
        </div>
        
        <div>
            <h3>Resources</h3>
            <ul>
                <li class={currentPageCheck(routes.guides)}><a href={routes.guides}>guides</a></li>
                <li class={currentPageCheck(routes.deviceUpdate)}><a href={routes.deviceUpdate}>device update</a></li>
            </ul>
        </div>

        <div>
            <h3>Connect</h3>
            <ul>
                <li><a href={routes.wavyDiscord} target="_blank">discord ⬀</a></li>
                <li><a href={routes.newsletter} target="_blank">newsletter ⬀</a></li>
                <li><a id="something-special-header" target="_blank">contact ⬀</a></li>
            </ul>
        </div>

    </nav>
</header>

<style>
    header {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;

        display: flex;
        justify-content: space-between;
        align-items: top;
        gap: 15px;
    }

    .text-black {
        color: black;
    }
    .text-white {
        color: rgba(255, 255, 255, 0.8);
    }

    .logo {
        width: 200px;
        height: 100%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    nav h3 {
        margin-block-start: 0em;
        margin-block-end: 5px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        font-size: 14px;
        font-weight: 400
    }

    ul li.active-link {
        font-weight: bold;
        text-decoration: underline;
    }
</style>

<script>

function doSomethingSpecial() {
    let special = document.getElementById('something-special-header');
    let special1 = "hell"
    let special2 = "o"
    special.href = "mai" + "lto:" + special1 + special2 + "@"+ "wavyindustries.com";
}
setTimeout(doSomethingSpecial, 1000);
</script>