---
interface Props {
	textColor?: 'black' | 'white';
    hide?: boolean;
}

const { textColor = 'black', hide = false } = Astro.props;

import { routes } from '../routes';
import '../styles/global.css';

const currentPage = new URL(Astro.request.url).pathname.replace(/\/$/, '').replace(/\.html$/, "");

function currentPageCheck(link) {
    // Create a regex to match the link path as a prefix, ensuring that it matches full directory segments
    const regex = new RegExp(`^${link}(/|$)`);

    // Check if the current page starts with the link path using the regex
    return regex.test(currentPage) ? "active-link" : "";
}

import logoImg from '../assets/logo.svg';
import logoWhiteImg from '../assets/logo-white.svg';
---
<header class={textColor == 'white' ? 'text-white' : 'text-black'} hide={hide}>
    <div class="logo">
        <a href={routes.home}><img src={textColor == 'white' ? logoWhiteImg.src : logoImg.src} /></a>
    </div>

    <nav>
        <div>
            <h3>Products</h3>
            <ul>
                <li class={currentPageCheck(routes.monkey)}><a href={routes.monkey}>MON<b>KEY</b></a></li>
                <li class={currentPageCheck(routes.kd3)}><a href={routes.kd3}>KD-3</a></li>
                <!-- <li class={currentPageCheck(routes.midiConnect)}><a href={routes.midiConnect}>MIDI connect</a></li> -->
            </ul>
        </div>
        
        <div>
            <h3>Resources</h3>
            <ul>
                <li class={currentPageCheck(routes.support)}><a href={routes.support}>support</a></li>
                <li class={currentPageCheck(routes.deviceUtility)}><a href={routes.deviceUtility}>device utility</a></li>
                <!-- <li class={currentPageCheck(routes.faq)}><a href={routes.faq}>FAQ</a></li> -->
            </ul>
        </div>

        <div>
            <h3>Connect</h3>
            <ul>
                <li><a href={routes.wavyDiscord} target="_blank">discord ⬀</a></li>
                <li><a href={routes.wavyIndstagram} target="_blank">instagram ⬀</a></li>
                <li><a href={routes.newsletter} target="_blank">newsletter ⬀</a></li>
                <li><a id="something-special-header" target="_blank">contact ⬀</a></li>
            </ul>
        </div>
    </nav>
</header>

<style>
    header {
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: top;
        gap: 15px;

        transition: all 0.3s;
        height: auto;
    }

    header[hide] {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
    }

    .text-black {
        color: black;
    }
    .text-white {
        color: rgba(255, 255, 255, 0.8);
    }

    .logo {
        height: 100%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    nav h3 {
        margin-block-start: 0em;
        margin-block-end: 5px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        font-size: 16px;
        font-weight: 400
    }

    li {
        white-space: nowrap;
    }

    ul li.active-link {
        font-weight: bold;
        text-decoration: underline;
    }
</style>

<script>

function doSomethingSpecial() {
    let special = document.getElementById('something-special-header') as HTMLAnchorElement;
    let special1 = "hell"
    let special2 = "o"
    special.href = "mai" + "lto:" + special1 + special2 + "@"+ "wavyindustries.com";
}
setTimeout(doSomethingSpecial, 1000);
</script>